* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 36px;
    min-height: 100vh;
    color: #fff;
    background-color: #000;
    display: grid;
    place-content: center;
}
section {
    padding-left: 2rem;
    max-width: 80vw;
    margin: 0 auto;
}

.code-wrapper {
    padding-left: 2rem;
}

.api-wrapper {
    margin-bottom: 2rem;
}

.api-wrapper-head {
    background-color: grey;
}